html {
    scroll-behavior: smooth;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    
}

.about_Banner {
    height:50vh;
    background-color: black;

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 1400px;
    text-align: center;
    font-size: 72px;
    transform: translateY(-50px);
}

.about_Banner_Par {

    font-size: 24px;
    max-width: 1000px;
    text-align: center;

}

/* local navigation */

.about_Local_Nav {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(24, 24, 24); */
    background-color: rgb(34, 34, 34);
    
    
}

.about_Local_Nav ul {

    width: 700px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    
    
}

.subject_Link a {

    color: #12bbf8;
    
    text-decoration: none;
    transition: all 200ms ease;
    font-size: 21px;
    
}

.subject_Link a:hover {

    color: white;
    text-decoration: none;
}

/* Who we are */

.who_We_Are {

    background-color: rgb(24, 24, 24);
    padding-top: 100px;
    padding-bottom: 100px;

}

.wwa_Intro {

    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;

    padding: 20px;
    border-radius: 30px;

    background-color: rgb(36, 36, 36);
}

.wwa_Img_Wrapper {

    width: 30vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wwa_Img_Wrapper img {

    height: 100%;
    width: auto;
}

.wwa_Info {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.who_We_Are_Text > h2 {

    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;

}

.who_We_Are_Text > p {

    font-size: 21px;
    text-align: center;
    max-width: 40vw;
    margin: 0 auto;

}

.mini_Windows_Containers {

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mini_Window {

    background-color: rgb(24, 24, 24);

    padding: 10px 10px;
    border-radius: 15px;

    display: flex;
    
    gap: 15px;
    max-width: 80%;
    

}

.mini_Img_Wrapper {

    height: 80px;
    width: 80px;
    background: rgb(48, 48, 48);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.mini_Img_Wrapper img {

    height: 100%;
    width: auto;


}

.mini_Description {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    
}

/* services Section */

.services_Section {

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 65px;
    height: 800px;

}

.service_Box {

    padding: 50px 20px;
    width: fit-content;
    background-color: rgb(36, 36, 36);

    height: 60vh;
    min-height: 600px;
    max-height: max-content;
    border-radius: 30px;

    display: flex;
    gap: 20px;

    transition: all 200ms ease;
}

.service_Text {

    display: flex;
    flex-direction: column;

    max-width: 600px;
    gap: 20px;
    
    padding: 40px;
    height: 100%;
    width: 700px;
    align-items: center;


    text-align: center;

}

.service_Text h3 {

    font-size: 30px;

    
}

.service_Text p {

    font-size: 21px;
    
    
}

.service_Text button {

    margin: auto 0;

}

.service_Selection {

    background-color: rgb(31, 30, 30);
    width: 500px;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: scroll;
    scrollbar-color: #00b2d6 rgb(24, 24, 24);
}

.service_Container {

    padding: 10px;
    display: flex;
    gap: 10px;

    align-items: center;
    height: 100px;
    border-radius: 15px;

    border: 2px solid #00b2d600;
    background-color: rgb(24, 24, 24);

   
}

.service_Container:hover {

    cursor: pointer;

   
}

.service_Img_Wrapper {
    padding: 5px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

.selected {

    border: 2px solid #00b2d6;
    /* border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    top: 0; */
    /* width: 520px; */
     
}

.service_Info_Page {

    transition: all 200ms ease;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    color: transparent;
    
}

.service_Info_Page_Activate {

    width: 600px;
    color: white;

    

}

/* post selection */

/* .service_Box {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
} */

.page_Contents {

    
    background-color: transparent;
    overflow: hidden;
    contain: paint;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    /* transform: translateY(200px); */
}

.page_Img_Wrapper {

    width: 500px;
    height: 300px;
    overflow: hidden;
    contain: paint;
    background-color: aliceblue;

    display: flex;
    align-items: center;
}

.page_Img_Wrapper img {

    width: 100%;
    contain: paint;
}

.page_Description {

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page_Description h3{

    font-size: 30px;
}

.learn_More_Container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.learn_More_Page {

    text-decoration: none;
    color:#00b2d6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items: center;

    transition: all 200ms ease;
}

.arrow-Right {

    width: 50px;
    height: 50px;
    margin: auto 0;
    /* background-color: #00b2d6; */
    background-image: url("../Images/Webpage/keyboard_arrow_down_30dp_08BFFF_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: -200px;
    
    transform: rotate(-90deg);

    


}

.learn_More_Page:hover {

    
    color:#46e0ff;
    /* color: #00b2d6; */

}

.learn_More_Container:hover .arrow-Right{

    

    
    animation: slideright 200ms ease forwards;
    
}



/* vision */

.core_Values {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.values_Preface {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;

}

.values_Preface h3 {

    font-size: 30px;

}

.values_Preface > p {

    font-size: 25px;

}

.values_List {

    display: flex;
    width: 100%;
    min-height: 300px;
    justify-content: space-evenly;
    align-items: center;

}

.value_Container {

    color: #00b2d6;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.value_Img_Cont {

    background-color: rgb(21, 21, 21);
    padding: 30px;
    border-radius: 50%;
    
}

/* Why Choose Us Section */

.why_Choose_Us_Section {

    /* background-color: rgb(12, 12, 12); */
    background-color: rgb(24, 24, 24);
    padding: 100px 0;
}

.why_Choose_Us_Section h2 {

    font-size: 36px;
    display: flex;
    justify-content: center;
}

.why_Choose_Container {

    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 650px;
    margin: 100px auto;
    

    border-radius: 30px;

    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/black-architectural-design-skyscraper-dark-gray-background-highrise-geometric-building-futuristic3d-render_507676-1213.jpg);
    background-position: bottom;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;

    /* text-shadow: 0px 0px 15px black; */


    overflow: hidden;
}

.backdrop_Styling {

    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.backdrop_Styling > div > p {

    /* background-color: rgba(192, 192, 192, 0.384); */
    background-color: rgba(34, 34, 34, 0.384);
    border-radius: 20px;

    width: max-content;
    display: inline-block;
    padding: 8px  16px;
    backdrop-filter: blur(12px)

}

.icon_Container {

    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon_Container img {

    height: 100%;
    width: auto;
}

.why_Choose_Centerer {

    display: flex;
    align-items: center;

    flex-grow: 1;

}

.why_Card_Container {

    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 700px));
    grid-template-rows: minmax(auto, max-content);
    row-gap: 20px;
    column-gap: 20px;


}

.why_Choose_Card {

    padding: 10px 0;
    height: fit-content;
    display: flex;
    /* background-color: rgba(192, 192, 192, 0.384); */
    background-color: rgba(34, 34, 34, 0.384);
    border-radius: 20px;
    backdrop-filter: blur(12px);
}

.why_Choose_Heading {

    font-size: 46px;
}

.why_Choose_Titiling {

    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Getting Started */

.getting_Started {
    background-color: #0c0c0c;
    padding: 100px;
}

.how_To_Start {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.how_To_Start h2 {

    font-size: 36px;
    margin-bottom: 3vh;
}

.how_To_Start > p{

    font-size: 25px;
    margin-bottom: 3vh;
}

.steps_To_Reach_Us {
    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style-type: none;

}

.step_Container {

    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    width: 900px;
    
    font-size: 25px;

    background-color: rgb(24, 24, 24);
}

.step_Img_Wrapper {

    padding: 10px;
    background-color: #0c0c0c;
    border-radius: 15px;
}

/* conclusion */

.get_In_Touch {

    padding: 100px 0;
}

.conclusion_Container {

    height: 700px;
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.quote_Container {
    display: flex;
    max-height: 100%;
    width: 1200px;
    justify-content: center;
    gap: 60px;
}

.conclusion_Img_Wrapper {

    height: 600px;
    width: 600px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: top;

    overflow: hidden;
}

.img_Quote {

    height: 980px;
    width: auto;
}

.conclusion_Desc_Positioner {

    display: flex;
    align-items: center;
}

.conc_Desc_Container {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 700px;
    height: 350px;
    gap: 30px;
    text-align: center;

}

.conc_Desc_Container h3 {

    font-size: 46px;
    margin-bottom: 10px;

}

.conc_Desc_Container p {

    font-size: 20px;
    margin-bottom: 20px;

}

.conc_Contact_Btn {

    padding: 8px 16px;

}

/* Faq section */

.faq_Section {

    background-color: black;
    padding: 100px 0px;

}

.faq_Section h2 {

    text-align: center;
    font-size: 36px;
    margin-bottom: 10vh;

}

.accordion_Container {

    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 50px;
    justify-content: center;

    
}

.subtopic {

    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* animations */

@keyframes slideright {

    from {
        background-position-y: -200px;
    
    }
    
    to {
        background-position-y: 0px;
    
    }
}