.slide_Up {

    animation: intromove 300ms ease-in-out forwards;
}

@keyframes intromove {

    from {
    transform: translateY(100px);
    
    }
    
    to {
        transform: translate(0px);
    
    }
}


@keyframes slideright {

    from {
        background-position-y: -200px;
    
    }
    
    to {
        background-position-y: 0px;
    
    }
}

@keyframes slideDownHomeHeading {
    0% {
        transform: translate(-50%, -150%); /* Start 100px down from its final position */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translate(-50%, -50%); /* End at its original Y position */
        opacity: 1; /* End fully visible */
    }
}
