header {

    background-color:var(--background-color);
    position: static;
    /* height: 0; */

}

.faq_Banner {
    height:30vh;
    background-color: var(--background-color);

    color: var( --nav-text-color);
    font-family: var(--default-font-family);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.faq_Section {

    background-color: var(--background-color);
    padding: 100px 0px;

}


.accordion_Container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;

    
}

.subtopic {

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5vw;
}

.subtopic h2 {

    color: var(--nav-text-color);
    font-size: clamp(1rem, 1.8vw, 2.3rem);
    font-family: var(--default-font-family);
    margin-bottom: 2vh;
    text-align: center;
}



@media (min-width: 1000px) {

.faq_Section {
    
    background-color: var(--background-color);
    padding: 100px 0px;

}

.accordion_Container {

    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 50px;
    justify-content: center;

    
}

.subtopic {

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.subtopic h2 {

    color: var(--nav-text-color);
    font-size: clamp(1rem, 1.8vw, 2.3rem);
    font-family: var(--default-font-family);
    margin-bottom: 2vh;
}

}

@media (min-width: 2000px) {

.faq_Section {
    
    background-color: var(--background-color);
    padding: clamp(100px, 5vw, 200px) 0px;

}

.accordion_Container {

    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 50px;
    justify-content: center;

    
}

.subtopic {

  gap: clamp(5px, 0.28vw, 10px);
}

.subtopic h2 {

  font-size: clamp(1rem, 1.8vw, 2.3rem);
  margin-bottom: 2vh;
}


}