*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

  }

/* Intro Section */

.intro_Container {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5px;
    width: 80vw;
    min-height: 700px;
    height: 80vh;
    gap: 40px;
    border-radius: 10px;
    
    
    
    
  }

  .intro_Left {

    min-width: 60%;
    max-width: 60%;
    height: 100%;
    padding: 20px;
    text-align: center;
    /* background-color: rgb(0, 143, 187); */
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .main_Title {

    margin: 0;
    font-size: 72px;
  }

  #tsr_Text {
    background: #00b2d6;
    background: linear-gradient(100deg, rgb(34, 194, 226) 8%, rgb(0, 106, 192) 98%);
    background-clip: text;
    color: transparent;
  }

  .slogan {

    margin: 5px 20px;
    font-size: 32px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .intro_Description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    font-size: 32px;
  }

  .intro_Right {
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    
  }
  
  .intro_Image {
    height: 100%;
    
    transform: translate(-10%);
    
  }

/* Info Div */

.info_Div {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    background-color: rgb(24, 24, 24);
    
    
  }

  .info_Card {

    width: 380px;
    height: 400px;
    padding: 10px;
    border-radius: 8px;
    color: white;
  }

  .card_Title{

    text-align: center;
  }

  .card_Description {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 300px;
    overflow: hidden;
    text-align: center;
  }

  .read_More {

    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
  }

  .read_More:hover {

    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    transition: 200ms;
  }

  /* Company Info*/

.company_Info {

    display: flex;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    background-color: rgb(24, 24, 24);
    color: white;
}

.company_Info h2 {

    text-align: center;
    font-weight: 700;
    font-size: 36px;
}


.about_Us {

    display: flex;
}

.img_Resizer {

    
    max-height: 90vh;
    min-width: fit-content;
    overflow: hidden;
    border-radius: 20px;
}

.text_Div {

    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide_Section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    background-color: rgb(24, 24, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    padding: 20vh 0;
}

.guide_Section h2 {

    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.guide_Graphics {

    padding: 100px 0;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.icon_Wrapper{

    border: 6px solid rgb(34, 194, 226);
    border-radius: 50%;
    padding: 20px;
    max-width: min-content;
    margin-bottom: 20px;
    
}


.steps {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(34, 194, 226);
    font-size: 20px;
    font-weight:700;
    min-width: 240px;
    max-width: 240px;
    text-align: center;
    overflow: hidden;
}

/* Concluding Section */

.concluding_Statement {

  background-color: rgb(24, 24, 24);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.concluding_Text {

  width: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.concluding_Text h2{


  font-size: 36px;
  text-align: center;

}
.concluding_Text p{


  text-align: center;
  padding: 0 80px;
  font-size: 24px;

}

.concluding_Text button{

  font-size: 28px;
  border-radius: 50px;
  font-weight: 900;

}

.image_Wrapper{

    min-height: 800px;
    min-width: 700px;
    max-height: 800px;
    max-width: 700px;
    overflow: hidden;
    border-radius: 20px;
}