
header {

    background-color: var(--tertiary-color);
}


.heading_Part {

    height: 50vh;
    min-height: 500px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_Span {

    background: var(--accent-color-one);
    background: linear-gradient(100deg, var(--gradient-one) 8%, var(--gradient-two) 98%);
    background-clip: text;
    color: transparent;
}

.projects_Main_Heading {

    color: var( --primary-color);
    font-family: var(--default-font-family);
    font-size: clamp(1rem, 13vw + 0.5rem, 4rem);
    padding: 5vw;
    text-align: center;
}

.nav_Filter {

    background-color: var(--primary-darker);
    border-top: 2px solid var(--accent-color-one);
    padding: 10px 5vw;

    display: flex;
    justify-content: space-evenly;
}

.filter_Button {

    padding: 2vw 5vw;
    font-size: clamp(0.3rem, 5vw, 1rem);
    color: var(--accent-color-one);
    border: 2px solid var(--accent-color-one);
    border-radius: clamp(10px, 2vw, 30px);
    background-color: var(--quaternary-color);
    transition: all 200ms ease; 
}

.filter_Button:hover {

    padding: 2vw 5vw;
    font-size: clamp(0.3rem, 5vw, 1rem);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: clamp(10px, 2vw, 30px);
    background-color: var(--accent-color-one);
    cursor: pointer;
}

.filter_Element {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--background-color);
    height: 100vw;
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;

    border: 2px solid var(--accent-color-one);
    border-radius: 20px;
    transform: translate(-50%, -50%);

}

.category {

    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: 21px;

    transition: all 100ms ease;
}

.pressed {

    color: var(--accent-color-one);
}

.category:hover {

    color: var(--accent-color-one);
    cursor: pointer;
}

.projects_Grid {


    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(250px,80vw, 400px));
    padding: clamp(20px, 6vw, 80px);
    gap: clamp(20px, 8vw, 60px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-darker);
    

}

.project_Card {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid transparent;
    transition: all 200ms ease-in-out;
    width: clamp(250px,80vw, 400px);
    height: clamp(250px,80vw, 400px);

}

.project_Link {

    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project_Thumbnail {

    height: 70%;
    /* width: 100%; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    overflow: hidden;

    border: 0px solid var(--accent-color-one);
    transition: all 100ms ease;

    display: flex;
    justify-content: center;

    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */

    
}

.project_Thumbnail img {

    width: 100%;

    
}

.project_Description {

    background-color: var(--quaternary-color);
    height: 30%;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    overflow: hidden;


    transition: all 100ms ease;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: clamp(0.5rem, 6vw, 1.25rem);

    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */

    
}

.project_Info {

    width: 90%;
    display: flex;
    justify-content: space-between;
}

.project_Card:hover {

    color: var(--accent-color-one);
    transform: scale(1.1);
}

.project_Card:hover {

    
    border: 5px solid var(--accent-color-one);
    
}

.project_Thumbnail img {

    height: 100%;

    transition: all 400ms ease-in-out;


}




/* .project_Description span {

    margin-top: 20px;
    font-size: 20px;
    
} */


@media (min-width: 2000px) {

.projects_Main_Heading {

    font-size: clamp(4rem, 13vw + 1rem, 8rem);
    padding: 5vw;
    text-align: center;
}

.nav_Filter {

    background-color: var(--primary-darker);
    border-top: clamp(2px, 0.5vw, 6px) solid var(--accent-color-one);
    padding: clamp(10px, 0.55vw, 20px) clamp(5px, 0.25vw, 10px);
}

.filter_Button {

    padding: 2vw 5vw;
    font-size: clamp(1.25rem, 1vw, 2.5rem);
    border: 4px solid var(--accent-color-one);
    transition: all 200ms ease; 
}

.filter_Button:hover {

    padding: 2vw 5vw;
    font-size: clamp(1.25rem, 1vw, 2.5rem);
    border: 4px solid var(--accent-color-one);
}

.filter_Element {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: 100vw;
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;

    border: 2px solid var(--accent-color-one);
    border-radius: 20px;
    transform: translate(-50%, -50%);

}

.category {

    font-family: var(--default-font-family);
    font-size: clamp(1.25rem, 1.5vw, 2.4rem);

    transition: all 100ms ease;
}

.projects_Grid {


    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(400px,20vw, 800px));
    padding: clamp(20px, 6vw, 80px);
    gap: clamp(20px, 8vw, 60px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-darker);
    

}

.project_Card {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: clamp(5px, 0.25vw, 10px) solid transparent;
    transition: all 200ms ease-in-out;
    width: clamp(400px,20vw, 800px);
    height: clamp(400px,20vw, 800px);

}

.project_Link {

    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project_Thumbnail {

    height: 70%;
    /* width: 100%; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    overflow: hidden;

    border: 0px solid var(--accent-color-one);
    transition: all 100ms ease;

    display: flex;
    justify-content: center;

    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */

    
}

.project_Thumbnail img {

    width: 100%;

    
}

.project_Description {

    background-color: var(--quaternary-color);
    height: 30%;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    overflow: hidden;


    transition: all 100ms ease;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: clamp(1.25rem, 3vw, 2.5rem);

    /* box-shadow: 0px 0px 20px rgb(0, 0, 0); */

    
}

.project_Info {

    width: 90%;
    display: flex;
    justify-content: space-between;
}



.project_Card:hover {

    border: clamp(5px, 0.25vw, 10px) solid var(--accent-color-one);
    
}

.project_Thumbnail img {

    height: 100%;

    transition: all 400ms ease-in-out;


}

}
