header {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

main {

    min-height: auto;
    background-color: rgb(19, 19, 19);
    padding-bottom: 100px;

    /* background-color: black; */
}

.title_Container {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://cdn.prod.website-files.com/6727558e5c774a0b63d63d12/67bb3e1f23b017da45589047_hero-bg.avif);
    background-size: cover;
    background-position: top; */
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-blend-mode:overlay;

    height: 50vh;
    padding: 150px;

    text-align: center;
    text-shadow: 1px 1px 20px hsla(170, 30%, 8%, 0.829);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 36px;
}

h1 {

    transform: translate(0, -50px);
}

h1 span{

    color: #20a5da;
}

/* intro */

.services_Intro {

    width: 100%;
    padding: 80px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    border-top: 4px #00b7ff solid;
}

.services_Heading {

    font-size: 46px;
    margin-bottom: 20px;
}

.intro_Description {

    font-size: 21px;
    width: 800px;

}

.services_List {

    display: grid;
    grid-auto-flow: row;
    grid-template-columns:repeat(3, auto);
    
    min-height: fit-content;
    height: 700px;
    justify-content: space-evenly;
    align-items: center;
}

.service_Container {

    height: 550px;
    width: 550px;
    background-color: rgb(12, 12, 12);
    /* background-color: rgb(19, 19, 19); */
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.img_Wrapper {

    min-height: 240px;
    width: 100%;
    background: rgb(26, 26, 26);
    overflow: hidden;
    

}

.service_Description {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.service_Description h2 {

    margin: 10px;
}

.service_Description p {

    max-height: 145px;
    padding: 0px 20px;
    overflow:hidden;

    font-size: 21px;
}

.learn_More {

    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 21px;
    border-radius: 23px;
    font-weight: 900;
}

.thumbnail {

    Width: 100%;
    transition: 400ms;
}


/* why choose us */

.why_Choose_Container {

    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 650px;
    margin: 100px auto;
    

    border-radius: 30px;

    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://cdn.prod.website-files.com/6727558e5c774a0b63d63d12/67bb3e1f23b017da45589047_hero-bg.avif);

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;


    overflow: hidden;
}

.backdrop_Styling {

    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.backdrop_Styling > div > p {

    background-color: rgba(192, 192, 192, 0.384);
    border-radius: 20px;

    width: max-content;
    display: inline-block;
    padding: 8px  16px;
    backdrop-filter: blur(12px)

}

.why_Choose_Centerer {

    display: flex;
    align-items: center;

    flex-grow: 1;

}

.why_Card_Container {

    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 700px));
    grid-template-rows: minmax(auto, max-content);
    row-gap: 20px;
    column-gap: 20px;


}

.why_Choose_Card {

    padding: 10px;
    height: fit-content;
    display: flex;
    background-color: rgba(192, 192, 192, 0.384);
    border-radius: 20px;
    backdrop-filter: blur(12px);
}

.why_Choose_Heading {

    font-size: 46px;
}

.why_Choose_Titiling {

    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/* quote section */

.quote_Section {

    height: 700px;
    background-color: rgb(12, 12, 12);
    padding: 40px 80px;
    display: flex;
    justify-content: center;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.quote_Container {
    display: flex;
    max-height: 100%;
    width: 1200px;
    justify-content: center;
    gap: 60px;
}

.img_Quote_Container {

    height: 600px;
    width: 600px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: top;

    overflow: hidden;
}

.img_Quote {

    height: 980px;
    width: auto;
}

.quote_Desc_Positioner {

    display: flex;
    align-items: center;
}

.quote_Desc_Container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    text-align: center;

}

.quote_Desc_Container h2 {

    font-size: 46px;
    margin-bottom: 10px;

}

.quote_Desc_Container p {

    font-size: 20px;
    margin-bottom: 20px;

}

.quote_Contact_Btn {

    padding: 8px 16px;

}