header {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

main {

    height: 200vh;
    background-color: rgb(19, 19, 19);

    /* background-color: black; */
}

.title_Container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.prod.website-files.com/6727558e5c774a0b63d63d12/67bb3e1f23b017da45589047_hero-bg.avif);
    background-size: cover;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.082);
    background-attachment: fixed;
    background-blend-mode:overlay;

    height: calc(100vh - 200px);
    padding: 150px;

    text-align: center;
    text-shadow: 1px 1px 20px hsla(170, 30%, 8%, 0.829);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

h1 {

    transform: translate(0, -50px);
}

/* h1 span{

    color: #00afce;
} */

.services_List {

    display: grid;
    grid-template-columns:repeat(3, auto);
    
    min-height: fit-content;
    height: 700px;
    justify-content: space-evenly;
    align-items: center;

    border-top: 4px #00b7ff solid;
    border-bottom: 4px #00b7ff solid;
}

.service_Container {

    height: 550px;
    width: 550px;
    background-color: rgb(12, 12, 12);
    /* background-color: rgb(19, 19, 19); */
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.img_Wrapper {

    min-height: 240px;
    width: 100%;
    background: rgb(26, 26, 26);
    overflow: hidden;
    

}

.service_Description {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.service_Description h2 {

    margin: 10px;
}

.service_Description p {

    max-height: 145px;
    padding: 0px 20px;
    overflow:hidden;

    font-size: 21px;
}

.learn_More {

    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 21px;
    border-radius: 23px;
    font-weight: 900;
}

.thumbnail {

    Width: 100%;
    transition: 400ms;
}
