*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



  .generic_Button {

    color: white;
    width: max-content;
    padding: 15px 20px;
    font-size: 21px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    background: #00b2d6;
    background: linear-gradient(220deg, rgb(34, 194, 226) 8%, rgb(0, 106, 192) 98%);
  }

  .generic_Button:hover {

    cursor: pointer;
    background: #00b2d6;
    background: linear-gradient(220deg, rgb(29, 165, 192) 8%, rgb(0, 91, 165) 98%);
    
  }

  header {

    min-height: 100vh;
    /* background-image: url(https://media.istockphoto.com/id/1162898563/photo/chicago-urban-skyscrapers-usa.jpg?s=1024x1024&w=is&k=20&c=SPcplbsuxJeRrFnVi82OHSf8tvjayNEjDuyu67g5Zdw=); */
    background-color: black;
    background-size: cover;
    background-position: 100% 30%;
    padding-top: 10px;
  }

  /* nav bar */

  .top_Panel {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100vw;
    max-width: 100vw;
    position: sticky;
    top: 10px;
    z-index: 5;

  }

  .header_Logo {

    width: 2vw;
    height: 2vw;
    max-width: 4vw;
    max-height: 4vw;
    border-radius:100%;
    object-fit:cover;
    transform: scale(1.35);
    position: sticky;
    top: 0;
    
  }

 

  .global_Nav {
    border: 1px solid rgba(255, 255, 255, 0.61);
    width: 700px;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
    border-radius: 90px;
    padding: 1vh;
    flex-grow: 0.3;
    /* max-width: 80%; */
    margin: 0 auto;
    position:fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .nav_List {

    display: flex;
    justify-content: space-around;
    min-width: fit-content;
    max-width: 100%;
    align-items: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .nav_List a {

    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  /* footer */

  footer {
    background-color: rgb(17, 17, 17);
  }

  footer a {

    text-decoration: none;
    color: rgb(83, 165, 76);
  }

  .footer_Div {

    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    background-color: rgb(17, 17, 17);

    border-top: 5px solid grey;
    padding: 5vh 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(126, 126, 126);
  }

  .footer_Column {

    max-width: 310px;
  }

  .footer_Column ul {

    list-style: none;
  }

  .footer_Logo {

    float: left;
    height: 110px;
    width: auto;
    margin-right: 8px;

  }

  .footer-divider {

    background-color: #3a3838;
    width: 84vw;
    height: 1px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

  }

  .footer_Div_Lower {

    display: flex;
    justify-content: space-between;

    width: 84vw;
    padding: 30px;
    margin: 0 auto;

    background-color: rgb(17, 17, 17);

    color: rgb(150, 150, 150);
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer_Icon_One, .footer_Icon_Two, .footer_Icon_Three {

    display: inline-block;
    width: 20px;
    height: 20px;
    background-size:contain;


  }

  .footer_Icon_One {
    background-image: url(../Images/Icons/location_on_30dp_7D7D7D_FILL0_wght400_GRAD0_opsz24.svg);
  }

  .footer_Icon_Two {
    background-image: url(../Images/Icons/phone_in_talk_30dp_7D7D7D_FILL0_wght400_GRAD0_opsz24.svg);
  }

  .footer_Icon_Three {
    background-image: url(../Images/Icons/mail_30dp_7D7D7D_FILL0_wght400_GRAD0_opsz24.svg);
  }

  .tos {

    display: flex;
    gap: 25px;
  }

  /* @media screen {
    
    header {

        height: 40vh;
        background: black;
        background-size: cover;
        background-position: 100% 100%;
        padding-top: 10px;
      }
    
      .top_Panel {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 10px;
        width: 100vw;
        max-width: 100vw;
        flex-wrap: wrap;
    
      }
    
     
    
      .global_Nav {
        border: 2px solid rgb(182, 182, 182);
        border-radius: 90px;
        padding: 1vh;
        margin: 0 auto;
        flex-grow: 0.3;
        max-width: 80%;
        justify-self: right;
      }
    
      .nav_List {
    
        display: flex;
        justify-content: space-around;
        min-width: fit-content;
        max-width: 100%;
        align-items: center;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    
      .nav_List a {
    
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
    

  } */